.container{
    background-color: #EA6309;
}
.contenedor-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.proyecto-anuncio{
     background-image: url(../../../assets/sun-tornado.svg);
    background-size: cover;
    text-align: left;
    padding-top: 10px;
    color:white;
    margin-bottom: 10px;
}
.proyecto{ 
    max-width: 80%;
    margin-bottom: 20px;;
    padding:20px;
    background-color: white;
    outline: 1px solid #130b06;
}
.agregarProyecto{
    float:right;
    font-size: 12px;
    padding:0px 5px;
    color:white;
    background-color: #231D16;
    border-radius: 8px;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyecto div{
    float :right;
    margin-right:25px;
}
.icons{
margin:10px;
padding:10px;
float:right;
font-size:15px;
border: 1px solid #231D16;
border-radius:25%;
}
#fotoProyecto{
    width: 40%;
    height:60%;
}
/* .textoProyecto{
    clip-path: polygon(9% 1%, 100% 0%, 100% 100%, 9% 100%, 0% 50%);  
} */
.contenedor-textoProyecto {
    margin-left: 60px;;
}