<div class="container">
    <div class="row proyecto-anuncio">
        <h2>Proyectos<span><button class="agregarProyecto">Agregar Proyecto</button></span></h2>
    </div>
    <div class="row contenedor-proyectos" *ngFor="let proyecto of proyectos">
       <div class="col-sm-12 col-md-2 contenedor-imagen">
        <img src="{{proyecto.imagenProyecto}}" alt="Imagen de Proyecto" id="fotoProyecto">
       </div>
       <div class="col-sm-12 col-md-10">
        <div class="contenedor-textoProyecto">
            <h3>Proyecto:{{proyecto.nombreProyecto}}</h3>
            <p>Fecha de creacion:{{proyecto.fechaProyecto}}</p>
            <p>Descripcion: {{proyecto.descripcionProyecto}}.</p>
            <div>
                <span> <fa-icon [icon]="faTrash" class="icons"></fa-icon></span>
                <span> <fa-icon [icon]="faPen" class="icons"></fa-icon></span>
            </div>
        </div>
       </div>
               
             <!--<div class="col-sm-12 col-md-3 contenedor-imagen">
                <img src="{{proyecto.imagenProyecto}}" alt="Imagen de Proyecto" id="fotoProyecto">
            </div
            >
           <div class="col-sm-12 col-md-9 textoProyecto">
                <div class="contenedor-textoProyecto">
                    <h3>Proyecto:{{proyecto.nombreProyecto}}</h3>
                    <p>Fecha de creacion:{{proyecto.fechaProyecto}}</p>
                    <p>Descripcion: {{proyecto.descripcionProyecto}}.</p>
                    <div>
                        <span> <fa-icon [icon]="faTrash" class="icons"></fa-icon></span>
                        <span> <fa-icon [icon]="faPen" class="icons"></fa-icon></span>
                    </div>
                </div> 
           </div>  -->
          
       </div>
    
    </div>

