.progreso-anuncio{
    margin-top: 10px;;
    background-image: url(../../../assets/sun-tornado.svg);
    background-size: cover;
    text-align: left;
    padding-top: 10px;
    color:white;
}
.progreso-anuncio h1{
    margin-left: 25px;;
    margin-top: 0px;
    
}
.agregarInfo{
    float:right;
    font-size: 12px;
    padding:0px 5px;
    color:white;
    background-color: #231D16;
    border-radius: 8px;
}
.progreso{
    margin: 0px;
    margin-bottom: 10px;
    background-color: #DDDDDF;
    color:#231D16;
    padding:20px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
   
}
.progress-bar{
    background-color:#F8932D;
}