<div class="container ">
    <div class="row educacion-anuncio">
        <div class="col">
            <h1>Educacion <span><button class="agregarInfo">Agregar Experiencia</button></span></h1>
        </div>
    </div>
 <div class="row row-educacion">
    <div class="col-md-5 contenedor-educacion" *ngFor="let educacion of miEducacion" >
        <div class="row ">
            <div class="col-4 logoEducacion">
                {{educacion.logoInstituto}}
            </div>     
            <div class="col-8 textoEducacion">
                <h3>{{educacion.nombreInstituto}}</h3>
                <p>{{educacion.descripcionInstituto}}</p>            
                <span> <fa-icon [icon]="faTrash" class="icons"></fa-icon></span>
                <span> <fa-icon [icon]="faPen" class="icons"></fa-icon></span>
           </div>        
            </div>
        </div>
        <div class="contenedor-edicion">
        
    </div>
   
 </div>
    
      
      <!--   <div *ngFor="let educacion of miEducacion" class="row educacion">
            <div  class="col-sm-12 col-md-4 logoInstituto">
                {{educacion.logoInstituto}}
             </div>
             <div class="col-sm-12 col-md-8">
                 <h3>{{educacion.nombreInstituto}}</h3>
                 <p>{{educacion.descripcionInstituto}}</p>            
                    <div>
                         <span> <fa-icon [icon]="faTrash" class="icons"></fa-icon></span>
                         <span> <fa-icon [icon]="faPen" class="icons"></fa-icon></span>
                    </div>             
             </div>
            
        </div> -->
 
</div>