.educacion-anuncio h1{
    margin-left: 25px;;
    margin-top: 0px;
}

.educacion{
    margin: 0px;
    margin-bottom: 10px;
    background-color: #231D16;
    color:white;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items: center;
    border:5px solid #f89729;
    border-radius: 10px;
}
.icons{
    margin:10px;
    padding:10px;
    float:right;
    font-size:15px;
    border: 1px solid white;
    border-radius:25%;
    
}
.logoInstituto{
    display:flex;
    justify-content:center;
    align-items: center;
}
