 .container{
     background-color: #EA6309;
 }
 .educacion-anuncio{
    background-image: url(../../../assets/sun-tornado.svg);
    background-size: cover;
    text-align: left;
    padding-top: 10px;
    color:white;
    
}
.contenedor-educacion{
    border: 2px solid black;
    margin: 10px 5px;
    position: relative;  
    background-color: aliceblue;  
    box-shadow: 7px 9px 18px -8px rgba(0,0,0,0.75);
}

.textoEducacion{
    padding: 20px;
}

.textoEducacion span{
    margin:0px 5px;
    padding:10px;
    font-size:15px;
    border: 1px solid #231D16;
    border-radius:25%;
}
.row-educacion{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logoEducacion{
    background-color: #F8932D;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.agregarInfo{
    float:right;
    font-size: 12px;
    padding:0px 5px;
    color:white;
    background-color: #231D16;
    border-radius: 8px;
}

/*
.educacion{
    margin: 0px;
    margin-bottom: 10px;
    background-color: rgb(153, 23, 23); 
    color:#231D16;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    /* border:5px solid #f89729; */
    /* border-radius: 10px;
    box-shadow: #F89729 5px 5px 10px; 
  
}
.icons{
    margin:10px;
    padding:10px;
    float:right;
    font-size:15px;
    border: 1px solid #231D16;
    border-radius:25%;
    
}
.logoInstituto{
    display:flex;
    justify-content:center;
    align-items: center;
} */
