<div class="container ">
    <div class="row experiencia-anuncio">
        <div class="col">
            <h1>Experiencia <span><button class="agregarInfo">Agregar Experiencia</button></span></h1>
            
        </div>
    </div>
    <div class="row contenedor-experiencia">
        <div *ngFor="let experiencia of miExperiencia" class="col-md-4  experiencia">
            <div  class="col-sm-12 col-md-4 logoEmpresa">
                {{experiencia.logoEmpresa}}
             </div>
             <div class="col-sm-12 col-md-8">
                 <h3>{{experiencia.nombreEmpresa}}</h3>
                 <p>{{experiencia.descripcionEmpresa}}</p>
                
                    <div>
                         
                         <span> <fa-icon [icon]="faTrash" class="icons"></fa-icon></span>
                         <span> <fa-icon [icon]="faPen" class="icons"></fa-icon></span>
                    </div>
                   
             </div>
             <hr>
        </div>
    </div>
   
</div>
