


 .banner{
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../../../assets/programación-mitos.jpg) no-repeat center center;
  width:100%;
  height:calc(100vh - 100px);
  margin:0px;
  overflow: hidden;
  background-size: cover;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.photo-container div img{
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}
.photo-container div p{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: rgb(35, 29, 22) 1px 2px 2px ;
}
.photo-container div{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.text-container{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
}
.text-container div{
  width:80%;
  background-color: rgb(35, 29, 22);
  color:white;
  padding:25px;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  
}
@media screen and (min-width: 320px) {
  .banner{
    flex-direction: column;
    justify-content: flex-start;
  }
  .photo-container div img{
    margin-top: 20px;
  }

  }
  @media screen and (min-width: 767px) {
    .banner{
      flex-direction: row;
      
    }
  }
/*
.photo-profile{
  background-color:rgba(128, 128, 128, 0.425);
  width:50%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
}
.content-photo{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.content-photo p{
  font-size: 1.5em;
  color:white;
  font-weight: bold;
  text-align: center;
  text-shadow: #231D16 1px 2px  5px;
}

.content-photo img{
  width:100%;
  height:100%;
  border: 5px solid white;
  border-radius: 50%;
}
.welcome-text{
  width:50%;
  height:100%;
  background-color:rgba(128, 128, 128, 0.425);
  display:flex;
  justify-content:center;
  align-items: center;
}
.welcome-text div{
  background-color: #231D16;
  color:white;
  padding: 30px;
}

@media screen and (min-width: 576px) {
  .photo-profile img{
  width:30%;
   }
   
  } */