<div class="container">
    <div class="row banner">
        <!-- Block picture-->
      <div class="col-sm-12 col-md-6 photo-container">
        <div>
            <img src="{{portfolio_pic_Path}}" alt="">
            <p>Dev Web FullStack Jr.</p>
        </div>
      </div>  
      <!-- Block text -->
      <div class="col-sm-12 col-md-6 text-container">
          <div>
              <h1>Hey, there!</h1>
                <p>I'm a junior developer, currently working for a undepending future.</p>
          </div>

      </div>
      




    </div>
</div>











<!-- <div class="container"> 
    <div class="row banner">
        <div class="col-sm-12 col-md-6  photo-profile ">
            <div class="content-photo">
                <img src="{{portfolio_pic_Path}}" alt="">
                <p>Dev FullStack Jr.</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 welcome-text">
            <div>
                <h1>Just got here</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor asperiores, repellat quisquam necessitatibus explicabo aliquam.</p>
            </div>
            
        </div>
        
        
    </div>
    
</div> -->