.acerca{
    margin:10px 0px;
    background-color: #231D16;
    color:white;
    padding:25px;
    border: 5px solid #f89729;
    border-radius: 10px;
}
.edicionAcerca{
    display:flex;
    justify-content:center;
    align-items:center;
       
}

.acerca span{
    padding:10px;
    font-size:15px;
    border: 1px solid white;
    border-radius:25%;
    margin-left: 90%;
}

