<div class="container">
    <div class="row acerca">
        <div class="col-sm-12 col-md-4 userdata">
            <h1>Datos:</h1>
            <h3>Nombre completo:</h3>
            <h3>Titulo:</h3>
        </div>
        <div class="col-sm-12 col-md-8">
            <h1>Acerca de mi:</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quod accusantium reprehenderit in aperiam tenetur ex quasi est. Beatae aspernatur hic error excepturi fugiat nihil quidem minima neque mollitia laudantium. Perspiciatis itaque expedita cupiditate doloribus eius mollitia sed voluptate cumque quos labore, illum corporis temporibus! Rerum quidem modi accusamus libero.
                <br>
                <span> <fa-icon [icon]="faPen" class="iconAcerca"></fa-icon></span>
            </p>
        </div>
       
    </div>
</div>

