.acerca{
    margin:10px 0px;
    background-color: white;
    color:#231D16;
    padding:25px;
    border: 5px solid #f89729;
    border-radius: 10px;
    box-shadow: #231D16 1px 1px 15px;
}
.edicionAcerca{
    display:flex;
    justify-content:center;
    align-items:center;
       
}

.acerca span{
    padding:10px;
    font-size:15px;
    border: 1px solid #231D16;
    border-radius:25%;
    margin-left: 90%;
}

