.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color:rgb(194, 194, 197);
    font-size: 30px;
    
}
.login{
    font-size:16px;
     padding:10px;
     color:rgb(105, 105, 105) ;
     background-color: #C2C2C5;
     border-radius: 5px;
     font-weight:bold;
     
}
.login:hover{
    color:#231D16;
}