.redes{
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;;
    align-items: center;
    flex-direction: row;
    color:#393A3B;
    font-size: 30px;
    
}
.redes div{
    margin-right: 25px;
    
}
.login{
    font-size:16px;
     padding: 10px;
     color:#241E16;
     background-color: #EA6309;
     border-radius: 5px;
     font-weight:bold;
     
}
.login:hover{
    color:#f89729; ;
    background-color: #786A5B;
    cursor: pointer;
}
